<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar %>
          <% else %>
            <%= image_tag "photo-profile.jpg" %>
          <% end %>
          <% if @user == @current_user %>
            <div class="file btn btn-lg btn-primary">
              Change Photo
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= "#{@user.last_name} #{@user.first_name} #{@user.middle_name}" %>
          </h5>
          <h6>
            <%= @user.login %>
          </h6>
        <br>
          <h7>
            <%= @user.birth_date.strftime("Дата рождения: %d.%m.%Y") %>
          </h7>
        </div>
      </div>
    </div>
</div>
